<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="checklist-card">
  <template>
    <style>
      :host {
        display: block;
      }

      .task {
        display: flex;
        align-items: center;
      }

      .rojo {
        color: red;
      }

    </style>
    <!-- Editar desde branch develop --> 
    <h1 class$="{{claseContenedora}}">{{title1}}</h1> 

    <dom-repeat items="{{tasks}}" as="task" filter="isNotComplete" observe="completed">
      <template>
        <div class="task">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input  label="task name" no-label-float value="{{task.name}}">  
        </div>
      </template>
    </dom-repeat>
    
    <h1>{{title2}}</h1>

    <dom-repeat items="{{tasks}}" as="task" filter="isComplete" observe="completed">
      <template>
        <div class="task">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="task name" no-label-float value="{{task.name}}">  
        </div>
      </template>
    </dom-repeat>

    <paper-button type="button" name="button" on-click="addTask">Add Task</paper-button>
      
  </template>

  <script>
    /**
     * `checklist-card`
     * Element checklist created with polymer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ChecklistCard extends Polymer.Element {
      static get is() { return 'checklist-card'; }
      static get properties() {
        return {
          tasks: {
            type: Array,
            value: () => []
          },
          title1:{
            type:String,
            value:''
          },

          title2:{
            type:String,
            value:''
          },

          claseContenedora:{
            type:String,
            value:'rojo'
          }
        };
      }

      addTask(){
        const newTask = {
          name:'',
          completed:false
        };
        this.push('tasks', newTask);  
      }

      isNotComplete(task){
        return !task.completed;
      }

      isComplete(task){
        return task.completed;
      }

    }

    window.customElements.define(ChecklistCard.is, ChecklistCard);
  </script>
</dom-module>